/* Ensure the body and html take up full height */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif; /* Use Raleway as the default font */
}

/* Page container that ensures footer sticks to bottom */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the page container takes full viewport height */
}

.content-wrap {
    flex: 1; /* Allows the content to grow and take up space */
}

/* Container for the landing page */
.landing-container {
    text-align: center;
    padding: 50px;
}

.landing-header {
    margin-bottom: 50px;
}

.landing-header h1 {
    font-size: 2.5rem;
    color: #3E4245; /* Black text for headers */
    font-weight: 900; /* Raleway Black */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .landing-header h1 {
        font-size: 2rem;
    }
    .landing-header p {
        font-size: 1rem;
    }
}

.landing-header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #3E4245; /* Black text for description */
}

.landing-header .btn {
    margin: 5px;
    background-color: #003366; /* Dark blue for buttons */
    color: #ffffff; /* White text for buttons */
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.landing-header .btn:hover {
    background-color: #ffcc00; /* Yellow on hover */
}

.landing-features {
    margin: 40px 0;
}

.landing-features h2 {
    font-size: 2rem;
    color: #3E4245; /* Black text for features heading */
    font-weight: 900; /* Raleway Black for subheadings */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .landing-features h2 {
        font-size: 1.5rem;
    }

    .landing-features li {
        font-size: 1rem;
    }
}

.landing-features ul {
    list-style-type: none;
    padding: 0;
}

.landing-features li {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #3E4245; /* Black text for list items */
}

/* Footer stays at the bottom of the page */
.landing-footer {
    background-color: #003366; /* Dark blue for footer */
    color: #ffffff; /* White text in footer */
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Ensures footer stays at the bottom */
}

/* Responsive adjustments for footer */
@media (max-width: 768px) {
    .landing-footer {
        padding: 10px;
    }
}
